@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*
{
    font-family: "Poiret One", sans-serif !important;
    color: #575757;
}

:root
{
  --blue: #00468C;
}

.v-application--wrap
{
  height: 90vh !important;
  max-height: 90vh !important;
  min-height: 90vh !important;
}

.divider
{
  border-bottom: 1px solid #e0e0e0;
}

.v-menu__content
{
  top: 0px !important;
  background-color: white !important;
}
