@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*
{
    font-family: "Poiret One", sans-serif !important;
    color: #575757;
}

:root
{
  --blue: #00468C;
}

.v-application--wrap
{
  height: 90vh !important;
  max-height: 90vh !important;
  min-height: 90vh !important;
}

.divider
{
  border-bottom: 1px solid #e0e0e0;
}

.month-title {
  font-size: 24px;
  font-weight: bold;
}

.calendar-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.calendar-btn {
  background-color: #0053a5dc !important;
  color: white !important;
  text-align: center;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.v-btn:before {
  background-color: #0053a5dc !important;
}

.calendar {
  min-height: 400px !important;
  width: 90% !important;
}

.v-calendar-weekly__head-weekday, .v-past .v-outside, .v-calendar-daily_head-weekday {
  height: 40px !important;
  border-bottom: 0.5px grey solid;
  align-content: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.v-calendar-weekly__head-weekday, .v-calendar-daily_head-weekday {
  background-color: #0053a5dc !important;
  color: white !important;
  font-size: 20px !important;
}

.v-calendar-weekly__day, .v-past {
  align-content: center !important;
  align-items: center !important;
}

.v-calendar-weekly__day-label span {
  font-size: 15px !important;
}

.v-event-summary, .v-event-summary strong
{
  color: white !important;
}

.dialog {
  border-radius: 50px !important;
}

.dialog-title {
  font-size: 35px !important;
}

.dialog-message {
  font-size: 22px !important;
}

.dialog-btn-text {
  font-size: 22px !important;
  color: white !important;
  text-transform: capitalize !important;
}

.v-data-table-header
{
  background-color: #01509ef5 !important;
}

.v-data-table-header tr
{
  height: 55px !important;
}

.v-data-table-header th
{
  padding: 0px 15px !important;
}

.v-data-table-header span
{
  color: white !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
}

tbody
{
  font-size: 14px !important;
  
}

tbody td
{
  border: 0.5px solid white !important;
}

tbody tr:nth-child(even)
{
  background-color: #e6f2fff5 !important;
}

tbody tr:nth-child(odd)
{
  background-color: #f0f7fff5 !important;
}
